#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}

body
{
background-image: linear-gradient(to right top, #33f1db95, #55d925b8, #18c1adb9, #0aaa0ac0, #008094bd);
}

img
{
    width:400px;
    height:350px;
    margin:20px;
}

.copy_right_footer
{
    position:fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

img:hover
{
 border-radius:140px;
}